h1{color:#FF91BA;
font: size 40px;
background-color: #FFD4D4;
text-align: center;}

img{width: 400px;
    border-radius: 50px;
    margin: 60px;}
.prvni{text-align: center;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: bisque;}

     h2{color: fuchsia;}

     nav{width: 200px;
        margin-right: auto;
      padding: 5px;}
      .treti{border: solid pink;
    padding: 30px 35px;
margin: 30px;}

